.react-tel-input .form-control {
  background-color: transparent !important;
}
react-tel-input .selected-flag {
  background-color: black !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: black;
}
.react-tel-input .country-list .country {
  background-color: black;
}
